/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #F5F6F7;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: #0c3c65;
  border: 1px solid #0c3c65;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: var(--base-font-size);
  line-height: 2.25rem;
  letter-spacing: 0.5px;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: background .2s, border .2s, box-shadow .2s, color .2s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  mix-blend-mode: normal;
  padding: 0 1rem;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.no-results {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.no-results_text {
  width: 100%;
  height: 20%;
  font-weight: bold;
  font-size: 2rem;
  line-height: 150%;
  text-align: center;
  color: #0C3C65;;
}

.no-results_icon {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px 0 48px 0;
}

.no-results_button {
  width: 100%;
}
.no-results_button button {
  display: block;
  margin: 0 auto;
}

